@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Markazi Text', serif!important;
  line-height: normal;
}

.dt-text {
  font-size: 64px!important; 
  line-height: 60px !important;
  font-weight: medium!important;
}

.std-text {
  font-size: 40px!important;
  line-height: 36px !important;
  font-weight: medium!important;
}

.tt-text {
  font-size: 30px!important;
  line-height: 30px !important;
  font-weight: medium!important;
}


.lt-text {
  font-weight: medium!important;
  line-height: 18px !important;
  font-size: 18px!important;
}

.st-text {
  font-size: 20px!important;
  line-height: 20px !important;
  font-weight: bolder!important;
}

.sc-text {
  font-weight: bolder!important;
}

.ct-text {
  font-size: 18px!important;
  line-height: 18px !important;
  font-weight: bold!important;
}